<h1>Welcome#index</h1>

<div class="page-header">
  <h1><%= "Welcome to League Awesome!!" %></h1>
</div>

<div>
</div>
<h2>Owner's:</h2>
<!-- <div class="container">
	<div class="row">
		<% if owner_signed_in? %>
			<p><div class="span4"><%= "#{current_owner.email} is currently signed in" %></div></p>
		<% end %>
		<% else %>
			<p><div class="span4"><%= link_to "Owner Sign In", new_owner_session_path, class: "btn" %> </p>
			<p><%= link_to "Owner Sign Up", new_owner_registration_path, class: "btn" %> </p>
			</div>
		<% end %>
	</div>
</div>
 -->